- var link = "https://oscarmui1127.wixsite.com/numbersarefun/";
.container
    #footer.jumbotron.py-1.mt-0.bg-dark.text-light
        div(style="display: inline-block;")
            p.
                <a href="https://oscarmui1127.wixsite.com/numbersarefun/"> Original website </a>
                : &copy; 2017 by members of SJC 2016-17 2E Maths Project Group 2 <br />
                Remix: &copy; 2018-19 Oscar Mui<br />
                Last update: 10 Jan 2019