.container
    #footer.jumbotron.py-1.mt-0.bg-dark.text-light
        p.
            Original website: <a href="https://oscarmui1127.wixsite.com/numbersarefun/" style="color:#FFF">https://oscarmui1127.wixsite.com/numbersarefun/</a><br />
            &copy; 2017 by members of SJC 2016-17 2E Maths Project Group 2 <br />
            Remixed by Oscar Mui &copy; 2018-2019<br />
            Last update: 21 Dec 2018