.container
    #header.jumbotron.pb-0
        h1(): a(style="color:#555" href="index.html") Numbers are fun (Remix)
    .navbar.navbar-default.navbar-expand-md.navbar-dark.bg-dark
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        .collapse.navbar-collapse#navbar
            ul.navbar-nav.nav-fill.w-100
                li.nav-item: a.nav-link#html_navbar0(href="index.html") HOME
                li.nav-item: a.nav-link#html_navbar1(href="abouts.html") ABOUT
                li.nav-item: a.nav-link#html_navbar2(href="number9.html") 9
                li.nav-item: a.nav-link#html_navbar3(href="number11.html") 11
                li.nav-item: a.nav-link#html_navbar4(href="number30.html") 30
                li.nav-item: a.nav-link#html_navbar5(href="number365-25.html") 365.25
                