.container
    .jumbotron
        h1(): a(style="color:#555" href="index.html") Numbers are fun (201617 2E Maths Project Group 2)
        .navbar.navbar-default.navbar-expand-md.navbar-dark.bg-dark
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            .collapse.navbar-collapse#navbar
                ul.navbar-nav.nav-fill.w-100
                    li.nav-item.active: a.nav-link(href="index.html") HOME
                    li.nav-item: a.nav-link(href="abouts.html") ABOUT
                    li.nav-item: a.nav-link(href="number9.html") 9
                    li.nav-item: a.nav-link(href="number11.html") 11
                    li.nav-item: a.nav-link(href="number30.html") 30
                    li.nav-item: a.nav-link(href="number365-25.html") 365.25
                