doctype html
html
    head
        title Abouts
        - var bg_color="#F9F0BB";
        include partials/meta.pug
    body(onload="getActive()")
        include partials/header.pug
        .container
            .jumbotron#main.pt-2.pb-1.mb-0
                h2 About the remix
                h3 Background
                p.lead.
                    The original website was made when I was in form 2 for my math project at school. Due to a lack of time, I decided to make it with Wix. However, currently, I have learnt some new web development techniques so I decided to rewrite the web again to consolidate what I have learnt.
                a.lead(href="https://oscarmui1127.wixsite.com/numbersarefun") Original Website: https://oscarmui1127.wixsite.com/numbersarefun
                h3 Development details
                p.
                    This project builds a simple static site, with only static assets, you can host it on any http server you want.<br />
                    Except it's not that old school, it uses Gulp to manage the dev env and dist build, uses Pug for html templating, LESS for CSS, and capable of compiling ES7 to Javascript, too. In production mode (dist build), assets are bundled, minified, and revved to speed up loading and allow usage of server cache.<br />
                    Lastly, BootstrapV4 is included for css scaffolding.
                h2 About the project
                h3 Project information
                p.
                    We are students from St. Joseph's College, this is the website of our maths project.<br />
                    In this project, we are required to find a reference book (The Book of Numbers), choose several interesting sections (9, 11, 30, 365.25) to form our project, and then show to our classmates the information and the things we could learn from them. Please see our website and you will see the very wonderful maths knowledge which we have chosen for you. Enjoy!
                h3 Reference book
                h5 Book name: The Book of numbers
                p.
                    Author: Tim Glynne-Jones<br />
                    Publisher: Arcturus Publishing Limited
                h5 Project name: "Numbers are Fun!"
                h5 Topics chosen: 9, 11, 30, 365.25
                h3 Other references
                h4 Websites:
                ol
                    li(): a(href="http://www.hko.gov.hk/gts/time/calendarinfoc.htm") Hong Kong Observatory
                    li(): a(href="https://images.google.com/") Google images
                    li(): a(href="http://www.puzzles.com/PuzzlesInEducation/HandsOnPuzzles/MagicTriangle3XT.htm") ThinkFun inc. Puzzles (This website was removed after use.)
                    li(): a(href="http://www.wix.com/") Wix Website Creator (Only for original website XD)
                    li(): a(href="https://www.wikipedia.org/") Wikipedia
        include partials/footer.pug