doctype html
html
    head
        title Abouts
        - var bg_color="#F9F0BB";
        include partials/meta.pug
    body(onload="getActive()")
        include partials/header.pug
        .container
            .jumbotron#main.pt-2.pb-1.mb-0
                p coming very soon...
        include partials/footer.pug