doctype html
html
    head
        title Abouts

        include partials/meta.pug

        style.
            .jumbotron{
                background-color:#F9F0BB;
            }
            body{
                background-color:#F9F0BB;
            }
    body
        include partials/header.pug
        p coming very soon...