doctype html
html
    head
        title testing
        link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
    body
        h1 hello world
        img(src="caurosel1.png" alt="Numbers")