doctype html
html
    head
        title Numbers Are Fun
        - var bg_color="#BAE9FF";
        include partials/meta.pug
    body(onload="getActive()")
        include partials/header.pug
        .container
            img(src="images/carousel1.png" alt="Numbers").w-100
        include partials/footer.pug