doctype html
html
    head
        title Numbers Are Fun

        include partials/meta.pug

        script(type="text/javascript" src="js/test.js")
        style.
            .jumbotron{
                background-color:#BAE9FF;
            }
            body{
                background-color:#BAE9FF;
            }
    body
        include partials/header.pug
        .container
            img(src="images/carousel1.png" alt="Numbers").w-100