doctype html
html
    head
        title testing
        link(href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet")
        link(rel="stylesheet" href="css/all.css")
        script(type="text/javascript" src="js/test.js")
    body
        h1 hello world
        img(src="caurosel1.png" alt="Numbers")