doctype html
html
    head
        title 30

        include partials/meta.pug

        style.
            .jumbotron{
                background-color:#E2B1FA;
            }
            body{
                background-color:#E2B1FA;
            }
    body
        include partials/header.pug
        p coming very soon...