doctype html
html
    head
        title 11
        - var bg_color = "#BADA55";
        include partials/meta.pug
    body(onload="getActive()")
        include partials/header.pug
        .container
            .jumbotron#main.pt-2.pb-1.mb-0
                h2 Facts about 11
                .row
                    .col-xl-9.col-lg-9.col-md-8.col-sm-7.col-12
                        ol
                            li 11 is the fifth prime number.
                            li It is simple to multiply 11 by 1-9.
                            li.
                                Any power of 11 ends in a one.<br />
                                &nbsp; For example:<br />
                                &nbsp; 11^3= 1331<br />
                                &nbsp; 11^5= 161,051
                            li 11 can form the Magic triangle.
                    .col-xl-3.col-lg-3.col-md-4.col-sm-5.col-12
                        img(src="images/facts.jpg" alt="Fun Facts").mw-100.mx-auto.d-block
                h2#question1 Question 1: Magic Triangle
                .row
                    .col-xl-8.col-lg-8.col-md-8.col-sm-6.col-12
                        p Fill 1,2,3,4,5,6 into this triangle so that the sum of all three sides equal to 11. (See fig)
                    .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                        img(src="images/blank_magic_tri.png" alt="Blank Magic Triangle").mw-100.mx-auto.d-block
                h2 Equation
                p Do you agree with this equation?
                .row
                    .col-xl-8.col-lg-8.col-md-7.col-sm-7.col-12
                        img(src="images/sum_discovery.png" alt="Sum of corners + sum of 1 to 6 = 3 * sum of a side").w-100
                    .col-xl-4.col-lg-4.col-md-5.col-sm-5.col-12
                        img(src="images/corner_and_side.png" alt="Corners are counted in 2 sides, all numbers are counted at least once.").w-100
                h2 Steps
                p Step 1: Let A be the sum of numbers being put in corners.
                br
                p Step 2: Substitute the values into the equation.
                img(src="images/solving_equation.png" alt="A = 12").mw-100.mx-auto.d-block
                p The sum of corners is 12.
                br
                p Step 3: So, the possible solutions of the corners are: (1,5,6) , (2,4,6) and (3,4,5).<br />
                p.
                    Because 5+6 already equal to 11, (1,5,6) is not possible.<br />
                    And (3,4,5) is not possible too.
                .row
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.col-12
                        img(src="images/156_magic_tri.png" alt="(1,5,6) is not possible").mw-100.mx-auto.d-block
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.col-12
                        img(src="images/345_magic_tri.png" alt="(3,4,5) is not possible.").mw-100.mx-auto.d-block
                p Therefore, only (2,4,6) is the only possible solution.
                br
                p Step 4: Fit the other numbers (1,3,5) into the triangle.
                p.
                    Therefore, the only solution to the magic triangle of 11 are:<br />
                    6+1+4=11<br />
                    6+3+2=11<br />
                    2+5+4=11
                img(src="images/filled_magic_tri.png" alt="Solution to magic triangle").mw-100
                h2 More Magic Triangles!
                p With some internet researching, we figured out that the magic triangle can also be solved using 9, 10 and 12 as sum of the side. And our solution can also apply to all other magic triangles!
                img(src="images/more_magic_tri.png" alt="Solution to magic triangles 9, 10, 11, 12").w-100
        include partials/footer.pug