doctype html
html
    head
        title 365.25

        include partials/meta.pug

        style.
            .jumbotron{
                background-color:#F4C0AF;
            }
            body{
                background-color:#F4C0AF;
            }
    body
        include partials/header.pug
        
    p.
        Solar year is the most significant measure of time, it is the time for the Earth to make one complete rotation of the Sun, the exact time is approximately 365.2421895134 days.\n
        Number of days in a calendar year is set according to the solar year so that it can be used for regulating everyday life and benefit farming because they can know the exact time to plant.