doctype html
html
    head
        title 9
        - var bg_color = "#BAE9FF";
        include partials/meta.pug
    body(onload="getActive()")
        include partials/header.pug
        .container
            .jumbotron#main.pt-2.pb-1.mb-0
                p coming very soon...
        include partials/footer.pug