doctype html
html
    head
        title 9

        include partials/meta.pug

        style.
            .jumbotron{
                background-color:#BAE9FF;
            }
            body{
                background-color:#BAE9FF;
            }
    body
        include partials/header.pug
        p coming very soon...